<!-- bar -->
 <html> 
<body>
<div class="topnav">
 <a class="aa" href="#home">התחברות</a>
 <a class="aa" href="#deleteParent">מחיקת הורה</a>
 <a class="aa" href="#sign-in">צפיה בילד</a>
 <a class="aa" href="#addParent">הוספת הורה</a>
</div>
</body>
</html> 

<div class="my-form">
   
    <form class="form-group">
    <h2>הוספת הורה חדש</h2>
    <input type="text" placeholder="שם פרטי" class="form-control">
    <br>
    <input type="text" placeholder="שם משפחה" class="form-control">
    <br>
    <input type="number" placeholder="טלפון" class="form-control">
    <br>
    <input type="text" placeholder="קוד הורה" class="form-control">
    <br>
    <input type="text" placeholder="כתובת מייל" class="form-control">
    <br>
    <input type="text" placeholder="סיסמא" class="form-control">
    <br>
     <div><button class="btnParent" (click)="AddParent()">הוסף</button></div>
    <br>
   
    <!-- <button class="btnParent" (click)="DeleteParent()">מחיקת  הורה</button>
    <button class="btnParent" (click)="ViewingChildren()" >צפייה בילדים</button> -->
    </form>
    </div>

   