<!-- <form class="form-wrapper-modal-w" [formGroup]="form" (ngSubmit)="save()">

    <h1 *ngIf="data && data.familyId;else:newFamily">עדכון משפחה</h1>
    <ng-template #newFamily>
        <h1>הוספת משפחה</h1>
    </ng-template>

    <h5>פרטים בסיסיים</h5>
     <mat-form-field appearance="legacy">
        <mat-label>שם משפחה</mat-label>
        <input matInput formControlName="LastName" type="text" qureired>
        <mat-error *ngIf="form.get('LastName').errors?.required"> חובה להזין שם.</mat-error> -->


    <!-- </mat-form-field>



    <mat-form-field appearance="legacy">
        <mat-label>מייל</mat-label>
        <input matInput formControlName="Mail" type="email">
         <mat-error *ngIf="form.get('Mail').hasError('email')">כתובת מייל לא תקינה.</mat-error> -->

    <!-- </mat-form-field>
    <mat-form-field appearance="legacy">
        <mat-label>סיסמא</mat-label>
        <input matInput formControlName="Password" minlength="4" maxlength="12" type="password" required>
        <mat-error *ngIf="form.get('Password').errors?.required">חובה להזין סיסמא</mat-error>
        <mat-error *ngIf="form.get('Password').hasError('minlength')">חובה להזין מינימום 4 תוים.</mat-error>
        <mat-error *ngIf="form.get('Password').hasError('maxlength')">יש להזין מקסימום 12 תוים.</mat-error>

    </mat-form-field>
    <br>
    <button mat-button type="submit" [disabled]="!form.valid" class="btn-color">שמור</button>
    <br>
</form> -->



