<!-- <h1>update child</h1>
<form  class="container">
    <br>
    <label for="un">שם ילד:</label>
    <input class="form-control" type="text" id="un" #un placeholder="Child name" formControlName="Child name">
    <p *ngIf="form.errors?.['firstName']!=null">Required field</p>

    <br>
    <label for="un">שם משפחה:</label>
    <input class="form-control" type="text" id="un" #un placeholder="Last Name" formControlName="Last Name">
    <p *ngIf="form.errors?.['lastName']!=null">Required field</p>

    <br>
    <label for="pass">תעודת זהות ילד:</label>
    <input class="form-control" type="password" id="pass" #pass placeholder="Password" formControlName="password">
    <br>
    <label for="idParent">קוד הורה</label>
    <input class="form-control" type="password" id="pass" #pass placeholder="idParent" formControlName="idParent">
    <br>
    <label for="un">שם מוסד:</label>
    <input class="form-control" type="text" id="un" #un placeholder="Institution name" formControlName="Institution name">
    <br>
    <label for="id">קוד מוסד:</label>
    <input class="form-control" type="text" id="id" #un placeholder="Institution id" formControlName="Institution id">
    <br>
    <button (click)="updateChild()" >עדכן פרטיילד</button>

</form> -->
