
<html> 
<body>
<!-- <div class="topnav">
 <a class="aa" href="#home">כניסה</a>
 <a class="aa" href="#deleteParent">מחק ילד</a>
 <a class="aa" href="#sign-in">עדכן פרטי ילד</a>
 <a class="aa" href="#addParent">הוספת ילד</a>
</div> -->

</body>
</html>
 <h1> צפייה בנתוני ילד/ה </h1>
<div class="my-form">
<form class="form-group">
<h2>שלום ובוקר טוב הורה יקר</h2>
<input type="text" placeholder="שם פרטי" class="form-control">
<br>
<input type="text" placeholder="שם משפחה" class="form-control">
<br>
<input type="text" placeholder="תעודת זהות" class="form-control">
<br>
<input type="text" placeholder="שם מוסד" class="form-control">
<br>
<p s>הילד שלך נמצא בגן.. או משהו כזה</p>
<!-- <button class="btnParent" (click)="updateChild()">עדכן פרטי ילד</button>
<button class="btnParent" (click)="DeleteChild()">מחק ילד</button>
<button class="btnParent" (click)="addChildren()" >הוסף עוד ילד</button> -->
</form>
</div>
